<div class="wrapper" *ngIf="loader && productDetail; else loadingError">
  <div class="header">
    <h1 style="margin-bottom: unset;">{{ productDetail.productName }}</h1>
    <div class="rating">
      <ngb-rating
        [(rate)]="productDetailAverage"
        [starTemplate]="ngbHearth"
        [readonly]="true"
        max="5"
        style="outline:none"
      ></ngb-rating>
      <span class="rating-amount"
        >{{ productDetail.rating.length }} Ratings</span
      >
    </div>
  </div>

  <div class="detail-body">
    <div class="details-column">
      <ngb-carousel [showNavigationIndicators]="false" style="outline: none;">
        <ng-template ngbSlide *ngFor="let img of imageArray">
          <div class="carousel-caption"></div>
          <div class="img-wrapper">
            <img [src]="img" alt="" />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="details-column">
      <div class="details-price-section">
        <p>&euro; {{ productDetail.productPrice }}</p>
        <div class="details-buy-button">
          <button class="btn btn-primary" (click)="addToCart(productDetail)">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-tail">
    <h2>Product Description</h2>
    <div>
      {{ productDetail.fullText }}
    </div>

    <h2>Product Specifications</h2>
    <div>
      {{ productDetail.productSpecs }}
    </div>
  </div>
</div>

<ng-template #ngbHearth let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#10084;</span>&#10084;
  </span>
</ng-template>

<ng-template #loadingError>
  <mat-card *ngIf="loadingerror$ | async as errorMessage; else loading">
    <img src="../../../assets/img/errors/404-error.jpg" alt="" />
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-template>
