.detail-body:after {
  display: table;
  content: "";
  clear: both;
}

.details-column {
  width: 50%;
  float: left;
}

.details-price-section {
  border: 1px solid #e6e6e6;
  border-radius: 0.5em;
}

.detail-tail {
  margin-top: 25px;
}

.img-wrapper {
  height: auto;
}
img {
  display: block;
  margin: auto;
}

.wrapper {
  margin-left: 15%;
  margin-right: 15%;
}

.star{
  font-size: 24px;
}

.rating {
  &-amount{
    padding-left: 5px;
  }
  display: flex;
  align-items: center;
}