<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form name="form" (ngSubmit)="login()" #f="ngForm">
          <h1 style="text-align:center">Login</h1>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input
              type="text"
              name="UserName"
              [(ngModel)]="LoginCredential"
              class="form-control sty1"
              placeholder="UserName"
              required
              
            />
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            <input
              type="password"
              name="Passward"
              [(ngModel)]="Password"
              class="form-control"
              placeholder="Password"
              required
              
            />
          </div>
          <div>
            <p
              style="color:#E92626;font-size:20px;font-weight:normal"
              Class="success"
              align="left"
            >
              {{ errorMessage }}

            </p>
          </div>
          <div class="row">
            <div class="col-6">
              <button  type="submit" class="btn btn-primary px-4">Login</button>
            </div>
            <div class="col-6 text-right">
              <button type="button" (click)="router.navigate(['/AddUser'])" class="btn btn-link px-0">
                Register as new user
              </button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
