.product-card {
  max-width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;

  .product-image {
    .image{
      margin: auto;
      max-width: 100%;
      height: auto;
    }
  }

  .product-description {
    height: 102px;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.2em;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 50%
      );
    }
  }

  .product-price {
    color: #ff4947;
    font-weight: 700;
    position: relative;
  }

}
