<ng-container *ngIf="_loader; else emptyPage">
    <div class="product-filter">
        <p>Filter price</p>
        <mat-slider
          style="width: 100%"
          thumbLabel
          step="10"
          min="1"
          max="2000"
          (input)="oninputChange($event)"
        ></mat-slider>
        <button (click)="oninputChange(0)" style="border: unset; background: transparent;">Reset</button>
      </div>
  <mat-card
    *ngFor="let prod of _products | price: (filterAmount$ | async); index as i"
    class="product-card"
  >
    <mat-card-header>
      <mat-card-title>
        {{ prod.productName }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ prod.subCategorieName }}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="product-image">
      <img class="image" src="{{ prod.productImage }}" />
    </div>

    <mat-card-content>
      <div class="product-description">
        {{ prod.productDescription }}
      </div>
      <button (click)="redirect(prod)" mat-button>More...</button>
    </mat-card-content>
    <ngb-rating
      [(rate)]="_avgRating[i]"
      [starTemplate]="ngbHearth"
      [readonly]="true"
      max="5"
      style="outline:none"
    ></ngb-rating>
    <mat-card-footer>
      <div class="product-price">&euro; {{ prod.productPrice }}</div>
    </mat-card-footer>

    <ng-template #ngbHearth let-fill="fill">
      <span (click)= "openDialog(prod)" class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#10084;</span>&#10084;
      </span>
    </ng-template>
  </mat-card>
</ng-container>



<ng-template #emptyPage>
  <div class="center">
      <p>Looks like you are searching for products? <br>
      try and select some of the categories to your left.</p>
  </div>
</ng-template>
